<h1>履歴</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.start_date %></td>
        <td><%= link_to history.title, history_path(history) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

